* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 20%;
  /*height: 300px;*/
border: black;
border-style: solid;
border-width: thin;
padding: 3%;
margin: 2%;
}


.minimage {
width: 80%;
}

#player {
  width: 90%;
}


  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(51, 92, 51);
    color: rgb(174, 173, 173);
    text-align: center;
 }